<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Shizuku API 13.1.x 在 API 23 上通过 D8 desugaring 运行。 -->
    <uses-sdk tools:overrideLibrary="rikka.shizuku.api" />
    <uses-permission android:name="moe.shizuku.manager.permission.API_V23" />
    <application>
        <meta-data
            android:name="moe.shizuku.client.V3_SUPPORT"
            android:value="true" />
        <provider
            android:name="rikka.shizuku.ShizukuProvider"
            android:authorities="${applicationId}.shizuku"
            android:enabled="true"
            android:exported="true"
            android:multiprocess="false"
            android:permission="android.permission.INTERACT_ACROSS_USERS_FULL" />
    </application>
</manifest>
